// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #425A60; // #024C54;
$secondary : #ebe2d9;//#8e6e5f8f;
$accent    : #191919;
$back      : #E0E2D2;

$dark      : #3686C9;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;



/*
$primary   : #003862;
$secondary : #EAF5F7;
$accent    : #191919;
$back      : #E0E2D2;

$dark      : #3686C9;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;*/
